/* Reset padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#header{
    position: relative;
    height: 50px;
    background-color: black;
}

/* CSS NAV */
.nav{
    
}